<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-line"></div>
                <div class="footer-buttons">
                    <a href="/about-us" class="footer-button">About Us</a>
                    <a href="/contacts" class="footer-button">Contacts</a>
                </div>
                <div class="footer-copyright">
                    &copy; Daniil Fedorenko Vac.&Can. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>