<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head class="create_head">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <title>Create Vacancy Card</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<div th:replace="fragments/header :: #myHeader"></div>
<body class="create_body">
<h1 class="create_h1"></h1>
<form class="create_form" th:action="@{/vacancies/create/save}" th:object="${vacancyCard}" method="POST" id="vacancy-form">
    <div class="form-group">
        <label class="create_label" for="name">Name:</label>
        <input class="create_input form-control" id="name" type="text" th:field="*{name}">
        <span class="text-danger" th:if="${bindingResult.hasErrors()}" th:each="error : ${bindingResult.allErrors}">
    <span th:text="${error.defaultMessage}" style="color: red;"></span>
</span>
    </div>
    <p>
        <label class="create_label">Date of Submitting:</label>
        <input class="create_input" type="datetime-local" th:field="*{dateOfSubmittingForVacancy}" />
    </p>
    <p>
        <label class="create_label">Date of Appointment:</label>
        <input class="create_input" type="datetime-local" th:field="*{dateOfAppointment}" />
    </p>
    <p>
        <label class="create_label">Status:</label>
        <select class="create_select"  th:field="*{status}">
            <option class="create_option" th:value="OFFER">Offer</option>
            <option class="create_option" th:value="WAITING">Waiting</option>
            <option class="create_option" th:value="REFUSED">Refused</option>
        </select>
    </p>
    <p>
        <label class="create_label">Text:</label>
        <textarea th:field="*{text}"></textarea>
    </p>
    <p>
    <label class="create_label">Synchronize:</label>
        <input type="checkbox" name="synchronize" id="synchronize-checkbox" class="toggle-checkbox">
        <label for="synchronize-checkbox"></label>

    </p>
    <button class="create_button" type="submit" id="save-button">Save</button>
</form>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/create-element.js"></script>
</body>
</html>