<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div class="error-page-container">
    <h1 class="error-page-h1">Error</h1>
    <p>An error has occurred. Please try again later.</p>
    <button class="error-page-button" onclick="goBack()">Go Back</button>
</div>

<script src="/js/err-page.js"></script>
</body>
</html>
