<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<div th:replace="fragments/header :: #myHeader"></div>
<body class="log-page">
<div class="login-page">
    <div class="form">
        <form th:action="@{/login}" method="post" class="login-form" >
            <input type="text" placeholder="username" name="username" required/>
            <input type="password" placeholder="password" name="password" required/>
            <button class="log-but" type="submit">login</button>
        </form>
        <form action="/register">
            <button class="reg-but" type="submit">register</button>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
