<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<div th:replace="fragments/header :: #myHeader"></div>
<div class="login-page">
    <div class="log-form">
        <form th:action="@{/login}" th:object="${user}" method="post" class="registration-form">
            <input class="registration-input" type="text" placeholder="username" th:field="*{username}" required />
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
            <input class="registration-input" type="password" placeholder="password" th:field="*{password}" required />
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
            <button class="log-but" type="submit">login</button>
        </form>
    </div>
</div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
